@import "reset-css/sass/reset";
body {
  canvas {
    &.webgl {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  main {
    position: fixed;
    top: 50%;
    right: 0;
    width: 280px;
    height: 240px;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul.btn-list {
      padding: 40px;
      width: 100%;
      li {
        button {
          width: 24px;
          height: 24px;
          border: 1px #FFF solid;
          border-radius: 50%;
          margin-bottom: 32px;
          background-color: #000;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .hide {
      display: none;
    }
  }
}
