@import "reset-css/sass/reset";
@import "./scss/variables";
body {
  font-family: "Lato", sans-serif;
  font-size: $fz_content;
  line-height: $lh_content;
  font-weight: $fw_content;
  color: $color_primary;
  .scroll-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .scroll-wrapper {
      will-change: transform;
      main {
        section {
          padding: 120px 0;
          background-color: #fff;
          &.intro {
            background-color: transparent;
            display: flex;
            align-items: center;
            padding: 0;
            position: relative;
            height: 100vh;
            canvas.webgl {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              max-width: 100%;
            }
            .dom-part {
              position: absolute;
              z-index: 10;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
              width: 100%;
              &.config-dom {
                display: none;
                align-items: center;
                justify-content: flex-end;
                &.btn-list {
                  padding: 40px;
                  width: 100%;
                  li {
                    opacity: 0;
                    button {
                      width: 24px;
                      height: 24px;
                      border: 1px #FFF solid;
                      border-radius: 50%;
                      margin-bottom: 32px;
                      background-color: #000;
                      &:hover {
                        cursor: pointer;
                      }
                    }
                  }
                }
                &.btn-close {
                  top: 80px;
                  opacity: 0;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
            .intro-inner {
              > .container {
                display: flex;
                flex-direction: column;
                h1 {
                  @extend %base-title;
                  text-transform: uppercase;
                  color: #FFFFFF;
                  width: 1/3 * 100%;
                  margin-bottom: 64px;
                }
                button {
                  align-self: flex-start;
                  font-family: "Lato", sans-serif;
                  border-bottom: 1px solid $bc_secondary;
                  padding: 0;
                  margin-bottom: 128px;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
            span {
              position: absolute;
              left: 50%;
              bottom: 80px;
              transform: translate(-50%, 0);
              z-index: 100;
            }
            button, span {
              @extend %base-content;
              background: none;
              border: none;
              text-transform: uppercase;
              color: $color_reversed;
            }
          }
          &.highlight {
            background-color: $background_primary;
            text-align: center;
            > .container {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              h2, p {
                max-width: 50%;
              }
              p {
                padding-bottom: 32px;
              }
              ul {
                display: flex;
                > li {
                  &:not(:first-child) {
                    margin-left: 32px;
                  }
                }
              }
            }
          }
          &.tile {
            > .container {
              display: flex;
              .tile-txt-part {
                padding: 0 112px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
            &.img-right {
              > .container {
                flex-direction: row-reverse;
              }
            }
          }
        }
        h2 {
          @extend %base-subtitle;
        }
        p, button {
          @extend %base-content;
        }
        .btn {
          text-decoration: none;
          color: $color_reversed;
          background-color: $background_secondary;
          border: 1px solid $bc_primary;
          border-radius: 8px;
          padding: 8px 24px;
          transition: background-color 0.4s ease-out, color 0.4s ease-out;
          &.btn-secondary {
            background-color: transparent;
            color: $color_primary;
          }
          &, &btn-secondary {
            &:hover {
              background-color: $background_reversed;
              color: $color_reversed;
            }
          }
        }
      }
      footer {
        background-color: $background_reversed;
        padding: 120px 0;
        > .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          ul {
            display: flex;
            padding-top: 32px;
            > li {
              @extend %base-content;
              &:not(:first-child) {
                padding-left: 16px;
                margin-left: 16px;
                position: relative;
                &:before {
                  content: "|";
                  left: 0;
                  top: 0;
                  position: absolute;
                  color: $color_reversed;
                }
              }
              > a {
                text-decoration: none;
                color: $color_reversed;
              }
            }
          }
        }
      }
      .container {
        width: 1312px;
        margin: 0 auto;
      }
    }
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $background_reversed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color_reversed;
    text-align: center;
    > svg {
      padding-bottom: 32px;
      opacity: 0;
    }
    .state {
      height: 48px;
      overflow: hidden;
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .loaded {
        span {
          &:hover {
            cursor: pointer;
          }
        }
      }
      span {
        @extend %base-content;
        display: block;
        text-transform: uppercase;
        transform: translate(0, 48px);
      }
    }
  }
}
